body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffd6;
    color:blue
}

h1 {
    color: black;
    cursor: default;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    cursor: pointer;
}

@media (hover:hover) {

.accordion:hover {
    color: black;
}

.accordion-item {
    position: relative;
}

.accordion-item-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.accordion-item-trigger {
    display: block;
    border-top: 1px solid #c2c2c2;
    cursor: pointer;
}

.accordion-item-content {
    display: none;
    padding-bottom: 20px;
}

.accordion-item-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.accordion-item-input:checked ~ .accordion-item-trigger {
    color: black;
}
.accordion-item-input:checked ~ .accordion-item-content {
    display: block;
}

}