body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffd6;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.accordion {}

.accordion-item {
    position: relative;
}

.accordion-item-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.accordion-item-trigger {
    display: block;
    border-top: 1px solid #c2c2c2;
}

.accordion-item-content {
    display: none;
    padding-bottom: 20px;
}

.accordion-item-input:checked ~ .accordion-item-trigger {}
.accordion-item-input:checked ~ .accordion-item-content {
    display: block;
}